/* cssのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div ,button{
  list-style: none;  
  margin: 0;
  padding: 0;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
.aboutgline{
  text-decoration: underline;
}
.about{
  background-color: #E9EAE9;
  height: 40vw;
}
.title.center{
  height: 50vw;
}
.title-landingPage{
  color: #fff;
}
.login-header{
    line-height: 80px;
    font-size: 30px;
    position: relative;
}

.login-header p{
    font-size: 20px;
}

.logo-gline{
    display: inline-block;
    font-size: 4.5rem;
}

.container-landingPage{
  height: 900px;
  background-image: url('./img/landing-background.JPG');
  background-size: cover;
  
}

img{
  height:200px;
  width:200px;
}
#index ul {
  list-style-type: none; /*箇条書きのポッチを消す*/
  
}

#index ul li { 
  display: inline-block;/*inline-blockにします*/
  width: 48%;
  padding: 1%;/*余白も指定できる*/
  margin: 1%;/*余白も指定できる*/
  vertical-align: top;/*縦の表示位置も指定できる*/
  background-color:white;
  border-radius: 3%
}

#tab ul {
  list-style: none;
  display: flex;
}
 
#tab ul li {
  width: 25%;
  text-align: center;
 
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
  border-radius: 50%;
}
 
#tab ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  
}


#tab ul .WEB {
  background-color: #F1A7A6;
  border-radius: 50%;
}
#tab ul .GAME {
  background-color: #6FD7EE;
  border-radius: 50%
}
#tab ul .iPhone {
  background-color: #FBD9C2;
  border-radius: 50%
}
#tab ul .WEB.Expert {
  background-color: #FFFFD6;
  border-radius: 50%
}

#index .answer{

  text-align: center;
}
#index .notanswer{
  text-align: center;
}

.post{
  padding: 1%;
 
}

#tab ul .Like {
  background-color: #F1A7A6;
  
  padding: 0%;
  margin: 0%;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}

#tab ul .Post {
  background-color: #6FD7EE;
 
  padding: 0%;
  margin: 0%;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}
.mypage ul {
  list-style: none;
  display: flex;
}
.mypage ul li {

  line-height: 50px;
  margin-right: 2px;

}

.mypage ul li.aaa{
  width: 25%;
 
  
  height: 50px;

}
.mypage ul li.post{
  width: 75%;
  
  background-color:#fff;
 
  line-height: 50px;
  margin-right: 2px;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}


.mypost{
 
  
  background-color: #F1A7A6;
  background-color:#6FD7EE;
  line-height: 50px;
  /* margin-right: 2px; */
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}
.likepost{
 
  background-color: #F1A7A6;
  line-height: 50px;
  /* margin-right: 2px; */
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
}



.WEB .Expert {
  background-color: #FFFFD6;
  border-radius: 3%
}
.WEB {
  background-color: #F1A7A6;
  border-radius: 3%
}
.GAME {
  background-color: #6FD7EE;
  border-radius: 3%
}
.iPhone {
  background-color: #FBD9C2;
  border-radius: 3%
}
 .WEB.Expert {
  background-color: #FFFFD6;
  border-radius: 3%
}
.postbutton{
  position: fixed;
  bottom: 3%;
  right: 3%;
 
}
.search{
  background-color: #fff;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
    right: -36%;
    width: 30%;
    height:60%;
    margin: 0% 1% 1% 0%;
    position: relative;
  position: relative;
  
}
input#textsearch{
  right: -6%;
  width: 30%;
}
li.gray.lighten-3{
  height:60px;
}
input#textsearch.textsearch{
  width: 30vw;

}